<div>
	<form class="registration-form">
		<div class="registration-title">
			<h1>Registration</h1>
		</div>
		<div class="form-group">
			<div class="form-group col-md-2">
				<div>
					<input type="text" class="form-control" id="title" placeholder="Title" ng-model="registration.user.title">
				</div>
			</div>

			<div class="form-group col-md-5">
				<div>
					<input type="text" class="form-control" id="firstName" placeholder="First name" ng-model="registration.user.firstName">
				</div>
			</div>

			<div class="form-group col-md-5">
				<div>
					<input type="text" class="form-control" id="lastName" placeholder="Last name" ng-model="registration.user.lastName">
				</div>
			</div>
		</div>
		<div class="form-group col-md-12">
			<div>
				<input type="text" class="form-control" id="job" placeholder="Job" ng-model="registration.user.job">
			</div>
		</div>

		<div class="form-group col-md-12">
			<div>
				<input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="registration.user.email">
			</div>
		</div>

		<div class="form-group col-md-12">
			<div>
				<input type="text" class="form-control" id="userName" placeholder="Username" ng-model="registration.user.userName">
			</div>
		</div>
		<div class="form-group">
			<div class="form-group col-md-6">
				<div>
					<input type="password" class="form-control" id="password" placeholder="Password" ng-model="registration.password.password">
				</div>
			</div>

			<div class="form-group col-md-6">
				<div>
					<input type="password" class="form-control" id="passwordAgain" placeholder="Password again" ng-model="registration.password.passwordAgain">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group col-sm-10">
				<input type="text" ng-model="academicDisciplines" placeholder="Academic Disciplines" uib-typeahead="preloads as preloads.academicDisciplines for preloads in preload | filter:{academicDisciplines:$viewValue} | limitTo:10"
					class="form-control" typeahead-show-hint="true" typeahead-min-length="1">
			</div>
			<div class="form-group col-sm-2">
				<button id="academicDisciplonesBtn" class="btn btn-primary btn-block" data-ng-click="addItem(academicDisciplines)" ng-disabled="academicDisciplines == null">Add</button>
			</div>
		</div>
		<div>
			<table class="table">
				<tbody data-ng-repeat="item in registration.academicDisciplines">
					<tr>
						<td>{{item.academicDisciplines}}</td>
						<td align="right"><button id="removeBtn" class="btn btn-xs btn-danger" data-ng-click="removeItem($index)">
								<span class="glyphicon glyphicon-remove"></span>
							</button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="form-group col-md-12">
			<button class="btn btn-primary" type="submit" ng-click="registrationCreate()">Registration</button>
			<a class="btn btn-primary" href="#/">Back</a>
		</div>

		<div class="form-group col-md-12 alert alert-danger" ng-show="registrationResponse.errors != null" ng-repeat="obj in registrationResponse.errors">
			{{obj.defaultMessage}}</div>

		<div class="form-group col-md-12 alert alert-danger" ng-show="registrationResponse.exceptionMessage != null">
			{{registrationResponse.exceptionMessage}}</div>
	</form>
</div>