<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iit.uni.miskolc.mybatis.mappers.UserMapper">

	<resultMap id="userResultMap" type="User">
		<result property="userName" column="username" />
		<result property="firstName" column="firstname" />
		<result property="lastName" column="lastname" />
		<result property="password" column="password" />
		<result property="birthDate" column="birthdate" />
		<result property="personalDescription" column="personal_description" />
		<result property="registrationDate" column="registration_date" />
		<result property="email" column="email" />
		<result property="phoneNumber" column="phoneNumber" />
		<result property="role" column="role" />
	</resultMap>

	<select id="selectUsers" resultMap="UserResultMap">
		select
		user_datas.firstname,
		user_datas.lastname,
		user_datas.username,
		user_datas.birthdate,
		user_datas.personal_description,
		user_datas.registration_date,
		user_datas.email,
		user_datas.phone_number,
		user_datas.street,
		user_datas.city,
		user_datas.postcode,
		user_datas.country
		from users
		inner
		join user_roles on user_roles.username=users.username
		inner join
		user_datas on user_datas.username=users.username;
	</select>

	<select id="selectUserByUsername" parameterType="String"
		resultMap="UserResultMap">
		select
		user_datas.firstname,
		user_datas.lastname,
		user_datas.username,
		user_datas.birthdate,
		user_datas.personal_description,
		user_datas.registration_date,
		user_datas.email,
		user_datas.phone_number,
		user_datas.street,
		user_datas.city,
		user_datas.postcode,
		user_datas.country
		from users
		inner
		join user_roles on user_roles.username=users.username
		inner join
		user_datas on user_datas.username=users.username;
		where username
		like
		#{username};
	</select>

	<insert id="insertUser" parameterType="User" resultMap="UserResultMap">
		insert into users
		(username, password)
		values(
		#{username},
		#{password});

		insert into
		user_datas (username,
		firstname, lastname, birthdate,
		personal_description,
		registration_date, email, phone_number, street,
		city, postcode,
		country)
		values(
		#{username},
		#{firstname},
		#{lastname},
		#{birthdate},
		#{personalDescription},
		#{registrationDate},
		#{email},
		#{phoneNumber},
		#{street}, #{city},
		#{postCode},
		#{country});

		insert
		into
		user_roles
		(username, user_role) values(
		#{username},
		"ROLE_USER");
	</insert>

	<delete id="deleteUser" resultMap="UserResultMap">
		delete from users where username = #{username};
	</delete>

	<update id = "setUserRole" parameterType = "String">
		update user_roles set
		role = #{role};
	</update>

	<update id="updateUser" resultMap="UserResultMap">
		update users set 
		password = #{password});
		
		update user_datas set
		username = #{username},
		firstname = #{firstname},
		lastname = #{lastname},
		birthdate = #{birthdate},
		personal_description = #{personalDescription},
		registration_date = #{registrationDate},
		email = #{email},
		phone_number = #{phoneNumber},
		street = #{street},
		city = #{city},
		postcode = #{postCode},
		country = #{country});
	</update>
</mapper>
