<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>online-web</display-name>

	<!-- This is serve all request what come to the online-web/ url path. This 
		is the entry point of the web application. Furthermore the servlet will reply 
		to the requests. -->
	<servlet>
		<servlet-name>manuscriptServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- The manuscriptServlet will serve all request because of the <url-pattern>/</url-pattern> -->
	<servlet-mapping>
		<servlet-name>manuscriptServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

<!-- 	<filter> -->
<!-- 		<filter-name>validationHandlerFilter</filter-name> -->
<!-- 		<filter-class>manuscript.validation.handler.filter.ValidationHandlerFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>validationHandlerFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
	<resource-ref>
		<res-ref-name>defaultEmailRegex</res-ref-name>
		<res-type>java.lang.String</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>