<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>online-web</display-name>

	<!-- This is serve all request what come to the online-web/ url path. This 
		is the entry point of the web application. Furthermore the servlet will reply 
		to the requests. -->
	<servlet>
		<servlet-name>manuscriptServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/applicationContext.xml
				,/WEB-INF/spring/spring-security.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<filter>
		<filter-name>LogbackConfig</filter-name>
		<filter-class>manuscript.system.logback.filter.LogbackConfigFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LogbackConfig</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- The manuscriptServlet will serve all request because of the <url-pattern>/</url-pattern> -->
	<servlet-mapping>
		<servlet-name>manuscriptServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
    <listener-class>
      org.springframework.security.web.session.HttpSessionEventPublisher
    </listener-class>
  </listener> 

	<listener>
		<listener-class>ro.isdc.wro.http.WroServletContextListener</listener-class>
	</listener>
	<filter>
		<filter-name>WebResourceOptimizer</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>wroFilter</param-value>
		</init-param>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>WebResourceOptimizer</filter-name>
		<url-pattern>/wro/*</url-pattern>
	</filter-mapping>

<!-- 	<resource-ref> -->
<!-- 		<res-ref-name>defaultEmailRegex</res-ref-name> -->
<!-- 		<res-type>java.lang.String</res-type> -->
<!-- 		<res-auth>Application</res-auth> -->
<!-- 		<res-sharing-scope>Shareable</res-sharing-scope> -->
<!-- 	</resource-ref> -->
	<resource-ref>
		<res-ref-name>saveFilesFolder</res-ref-name>
		<res-type>java.lang.String</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>